<% provide(:title, "About") %>
    <h1L>About</h1L>
    <p>
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      is a <a href ="https://railstutorial.jp/#ebook">book</a> and
      to teach web development with 
      <a href ="https://rubyonrails.org/">Ruby on Rails</a>.
      This is the samplw application for the tutorial.
    </p>