<%= @user.name %>, <%= @user.email %>
<div class = "row">
  <aside class= "col-md-4">
    <section class = "user_info">
      <h1>    
        <%= gravatar_for @user %> <!--gravatar_forメソッド呼び出し　=>users_helper -->
        <%= @user.name %> <!--変数@userのname  => users_controller -->
      </h1>
    </section>
  </aside>
</div>