<!--エラーメッセージ-->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %> <!--errorの英単語の複数化-->
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %> <!--エラーメッセージの繰り返し -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>